<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <h1>Error 404</h1>
        <h1>oops Page not found</h1>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>