<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="content blogs">
                <h2>About Page</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati corrupti inventore pariatur
                    facere dolore tempora porro soluta labore laborum eius error placeat, totam voluptate fuga. Vel,
                    temporibus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati corrupti inventore pariatur
                    facere dolore tempora porro soluta labore laborum eius error placeat, totam voluptate fuga. Vel,
                    temporibus?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati corrupti inventore pariatur
                    facere dolore tempora porro soluta labore laborum eius error placeat, totam voluptate fuga. Vel,
                    temporibus?
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>